<app-header [user]="user"></app-header>

<ion-content color="secondary">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/agregar_persona" routerDirection="root">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">

                <ion-searchbar (search)="setSearch($event)"></ion-searchbar>

                <ion-row>
                    <ion-col *ngIf="!peopleData" size-md="4" size-sm="4" size-xs="12">
                        <ion-item>
                            <ion-avatar slot="start">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <ion-label>
                                <h3>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                </h3>
                                <p>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </p>
                                <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <div *ngIf="peopleData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12" *ngFor="let person of people; let i = index;"
                            routerLink="/persona/{{person.name_url}}/{{person.key}}" routerDirection="root">
                            <ion-card color="light" no-margin>
                                <ion-list lines="none">
                                    <ion-item lines="none" detail="false" color="{{$i%2 != 0 ? 'tertiary' : 'light'}}">

                                        <ion-thumbnail slot="start">
                                            <img src="{{person?.image?.downloadURL}}">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h2>{{person.name}} {{person.lastname}}</h2>
                                                <p>{{person.civil_status}} {{person.gender}}</p>
                                                <p *ngIf="person.birthdate">
                                                    {{person.birthdate}} años
                                                </p>
                                            </ion-text>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>