<app-header [user]="user"></app-header>

<ion-content color="secondary">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <!-- (click)="addMember()" -->
        <ion-fab-button (click)="addMember()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Members</ion-card-subtitle>
                    </ion-card-header>


                    <ion-row>
                        <ion-col size-md="4" offset="2">
                            <ion-item color="light" lines="none">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Member
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="4">
                            <ion-item color="light" lines="none">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Role
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                    </ion-row>



                    <ion-row *ngFor="let member of members">

                        <ion-col size-md="4" offset="2">
                            <ion-item lines="none" no-margin no-padding>
                                <ion-label>
                                    <h3>
                                        {{member?.name}}
                                    </h3>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="4">
                            <ion-item lines="none" no-margin no-padding>
                                <ion-label>
                                    <h3>
                                        {{member?.rol}}
                                    </h3>
                                </ion-label>
                                <ion-button slot="end" (click)="changeSettings(member)">
                                    <ion-icon name="settings" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ion-col>

                    </ion-row>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>