<app-header [user]="user"></app-header>


<ion-content color="secondary" >

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="2" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-card no-margin>
                    <ion-card-header>
                        <ion-card-title>{{job?.position}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-row>
                            <ion-col size-md="6" size-sm="6" size-xs="12">
                                <h2>
                                    <strong>Detalles de la oferta</strong>
                                </h2>
                                <p>
                                    Empresa: {{job?.enterprise.name}}
                                </p>
                                <p>
                                    Cargo Solicitado: {{job?.position}}
                                </p>
                                <p>
                                    Tipo de trabajo: {{job?.type}}
                                </p>
                                <p>
                                    Area de la empresa: NOMBRE
                                </p>
                            </ion-col>
                            <ion-col size-md="6" size-sm="6" size-xs="12" text-right>
                                <h2>
                                    <strong>Oferta salarias</strong><br>
                                    ${{job?.salary}}
                                </h2>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size-md="12" size-sm="12" size-xs="12">
                                <h2>
                                    <strong>
                                        Descrición de la oferta
                                    </strong>
                                </h2>

                                <div [innerHTML]="job?.description">

                                </div>

                                <h2>
                                    <strong>
                                        Sobre la empresa
                                    </strong>
                                </h2>

                                <p>
                                    {{job?.enterprise?.description}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

                <ion-row>
                    <ion-col size-md="6" size-sm="6" size-xs="12">
                        <ion-card color="light" no-margin>
                            <ion-list lines="none">
                                <ion-list-header color="success" lines="no-lines">
                                    <ion-label>
                                        Aplicantes a la plaza
                                    </ion-label>
                                </ion-list-header>

                                <div *ngIf="!applicantsData">
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </div>

                                <div *ngIf="applicantsData">
                                    <ion-item lines="none" detail="false"
                                        *ngFor="let applicant of applicants; let i = index;"
                                        color="{{$i%2 != 0 ? 'tertiary' : 'light'}}">

                                        <ion-thumbnail slot="start">
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                                        </ion-thumbnail>

                                        <ion-label>

                                            <ion-text color="primary">
                                                <h2>{{applicant.name}} {{applicant.lastname}}</h2>
                                            </ion-text>
                                            <p>
                                                {{applicant.education}}
                                            </p>
                                        </ion-label>

                                        <ion-button fill="outline" slot="end"
                                            routerLink="/persona/{{applicant.name_url}}/{{applicant.key}}"
                                            routerDirection="root">
                                            Revisar
                                        </ion-button>

                                    </ion-item>
                                </div>
                            </ion-list>
                        </ion-card>
                    </ion-col>

                    <ion-col size-md="6" size-sm="6" size-xs="12">
                        <ion-card no-margin>
                            <ion-list lines="none" detail="false">
                                <ion-list-header color="primary" lines="no-lines">
                                    <ion-label>
                                        Candidatos a aplicación de plaza
                                    </ion-label>
                                </ion-list-header>

                                <div *ngIf="!optionsData">
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </div>

                                <div *ngIf="optionsData">
                                    <ion-item lines="no-lines" detail="false"
                                        *ngFor="let option of options; let i = index;"
                                        color="{{$i%2 != 0 ? 'light' : 'tertiary'}}" >
                                        <ion-thumbnail slot="start">
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h2>{{option.name}}</h2>
                                            </ion-text>
                                            <p>
                                                {{option.depto}}
                                            </p>
                                        </ion-label>

                                        <ion-button fill="outline" slot="end" (click)="applyToAJob(option)">
                                            Enviar aplicante
                                        </ion-button>
                                        <ion-button fill="outline" slot="end" (click)="previewApplicant(option)">
                                            Ver aplicante
                                        </ion-button>
                                    </ion-item>
                                </div>

                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-row>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>