<app-header [user]="user"></app-header>

<ion-content color="secondary">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addProgram()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-list>
                    <ion-item *ngFor="let program of programs">
                        <ion-label> {{program.name}} </ion-label>
                        <ion-icon name="close-circle" slot="end" color="danger" (click)="removeProgram(program)"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>