<ion-header text-center>
    <ion-toolbar color="light" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
            <ion-row text-left class="ion-no-padding">
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/imgs/usaid.png" alt="" style="max-width: 100%">
                </ion-col>
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/imgs/alempleo.png" alt="" style="max-width: 100%">
                </ion-col>
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/imgs/fundemas.png" alt="" style="max-width: 100%">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
    <ion-toolbar color="dark" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
                <ion-col size-md="4" size-sm="4" size-xs="12" class="ion-no-padding" text-left>
                    <ion-button color="medium" class="button-header" routerDirection="root" routerLink="/">
                        <img src="./assets/imgs/logo.png" alt="">
                    </ion-button>
                    <!-- Alempleo Super Administrador -->
                </ion-col>
                <ion-col size-md="8" size-sm="8" size-xs="12" class="ion-no-padding" text-right>

                    <ion-button (click)="presentProfilePopover($event)" color="medium" class="button-header">
                        <ion-ripple-effect></ion-ripple-effect>
                        <ion-icon name="settings"></ion-icon>
                    </ion-button>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>