<ion-col size-md="12" size-sm="12" size-xs="12">
    <ion-row>
        <ion-col size-md="2" size-sm="2" size-xs="12">
            <img src="{{applicant?.image?.downloadURL}}">
            <ion-button color="primary" expand="block" *ngIf="!already_applied" (click)="changeContactData()">
                <ion-ripple-effect></ion-ripple-effect>
                Ver Datos de contacto
            </ion-button>
            <ion-button color="primary" expand="block" (click)="downloadCV()">
                <ion-ripple-effect></ion-ripple-effect>
                Descargar CV
            </ion-button>
        </ion-col>

        <ion-col size-md="10" size-sm="10" size-xs="12">

            <ion-card no-margin>
                <ion-card-header>
                    <ion-card-title>{{applicant?.name}} {{applicant?.lastname}}</ion-card-title>
                    <h4 no-margin>
                        {{applicant?.email}}
                        <br>
                        {{applicant?.number_1}} | {{applicant?.number_1}} | {{applicant?.number_3}}
                        <br>
                        Pretención Salarial:
                        <br>
                        {{applicant?.salary}}
                    </h4>
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col size-md="8" size-sm="8" size-xs="12">
                            <h2>Aptitudes:</h2>
                            <p>
                                {{applicant?.aptitudes}}
                            </p>
                            <h2>Experiencia:</h2>
                            <p>
                                {{applicant?.experience}}
                            </p>
                            <h2>Educación:</h2>
                            <p>
                                {{applicant?.education}}
                            </p>
                        </ion-col>

                    </ion-row>

                    <h2>Intereses:</h2>
                    <ion-row>
                        <ion-col size-md="2" size-sm="2" size-xs="12" *ngFor="let interest of interests">
                            <ion-card>
                                <ion-item color="light" lines="no-lines">

                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{interest.name}}
                                            </h3>
                                        </ion-text>
                                        <!-- <ion-button color="primary" expand="block" class="add-btn"
                                        routerLink="trabajos/{{job.name_url}}/{{job.key}}" routerDirection="root">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Revisar Plaza
                                    </ion-button> -->
                                    </ion-label>
                                </ion-item>
                            </ion-card>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="contactData">
                        <ion-col size-md="12" size-sm="12" size-xs="12">
                            <h2>
                                <strong>Datos de contacto</strong>
                            </h2>
                            <p>
                                Correo electronico: {{applicant?.email}}
                            </p>
                            <p>
                                Numeros de telefono: {{applicant?.number_1}} | {{applicant?.number_2}} |
                                {{applicant?.number_3}}
                            </p>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>

        </ion-col>
    </ion-row>

</ion-col>