.button-header {
    --border-radius: 0px;

}

.add-btn{
    --color:#fff;
}

ion-skeleton-text {
    --background: transparent;
}

.custom-card{
    --border-radius:0px;
    border-radius: 0px;
    // margin-bottom: 10px;
}

.sc-ion-card-ios-h{
    box-shadow: inherit;
}