<app-header [user]="user"></app-header>


<ion-content color="secondary">

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <form [formGroup]="enterpriseForm" novalidate>


                    <ion-row>
                        <ion-col size-md="2" size-sm="2" size-xs="12" text-center>
                            <img src="{{image_enterprise?.downloadURL}}" class="img-preview">

                            <image-upload [max]="1" [extensions]="['jpg','png']" [buttonCaption]="'Logo de la empresa'"
                                [dropBoxMessage]="''" (uploadStateChanged)="imagesState($event)"
                                (uploadFinished)="onUploadFinished($event)">
                            </image-upload>

                            <ion-button color="success" expand="block" (click)="updateEnterprise()"
                                [disabled]="enterpriseForm.invalid">
                                <ion-ripple-effect></ion-ripple-effect>
                                Actualizar
                            </ion-button>
                        </ion-col>
                        <ion-col size-md="8" size-sm="8" size-xs="12">

                            <ion-item lines="none" text-center style="margin-top:30px;">

                                <h2 text-center block>
                                    Información General
                                </h2>
                            </ion-item>

                            <ion-row>

                                <ion-col size-md="12" size-sm="12" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Nombre de la empresa
                                        </ion-label>
                                        <ion-input type="text" formControlName="enterprise">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Nombre del encargado
                                        </ion-label>
                                        <ion-input type="text" formControlName="name_contact">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>


                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Apellido del encargado
                                        </ion-label>
                                        <ion-input type="text" formControlName="lastname_contact">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="7" size-sm="7" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Telefono de contacto
                                        </ion-label>
                                        <ion-input type="text" formControlName="phone_contact">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="5" size-sm="5" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Correo electronico de contacto
                                        </ion-label>
                                        <ion-input type="text" formControlName="email_contact">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                            </ion-row>

                            <ion-item style="margin-top:30px;">

                                <h2 text-center block>
                                    Sucursales
                                </h2>

                                <ion-button slot="end" (click)="addBranch()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let branch of branches; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button color="danger" (click)="RemoveBranch(branch, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{branch.address}}
                                            </ion-card-subtitle>
                                            <ion-card-title>
                                                {{branch.name}}
                                            </ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Numero:</strong> {{branch.number}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>