<app-header [user]="user"></app-header>

<ion-content color="secondary">

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-row *ngIf="!jobsData">
                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <div *ngIf="jobsData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12" *ngFor="let item of jobs">
                            <ion-card>
                                <ion-item color="light" lines="no-lines">

                                    <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                        <img src="{{item?.enterprise?.image?.downloadURL}}">
                                    </ion-thumbnail>

                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{item?.position}}
                                            </h3>
                                            <h3 color="primary">
                                                Por: <a routerLink="/empresa/{{item.enterprise?.name}}/"
                                                    routerDirection="root">{{item?.enterprise?.name}}</a>
                                            </h3>
                                        </ion-text>
                                        <p>
                                            {{item?.description}}
                                        </p>
                                        <h2>
                                            {{item?.kind_job.name}}
                                        </h2>
                                        <h2>
                                            ${{item?.salary}}
                                        </h2>
                                    </ion-label>
                                </ion-item>


                                <ion-button color="primary" expand="block" class="add-btn"
                                    routerLink="/empresa/{{item.enterprise?.name}}/trabajos/{{item.position}}/{{item.key}}"
                                    routerDirection="root" size="small">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    Revisar Plaza
                                </ion-button>

                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>