<ion-content color="primary">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="authentications-boxes">
                    
                    <div text-center>
                        <h3>Inicia Sesión!</h3>
                    </div>
                    <div padding>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">Correo Electronico</ion-label>
                                        <ion-input (keyup.enter)="login()" type="text" formControlName="email">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">contraseña</ion-label>
                                        <ion-input (keyup.enter)="login()" type="password" formControlName="password">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <div padding>
                        <ion-button size="large" [disabled]="loginForm.invalid" (click)="login()" expand="block">Iniciar
                            Sesión
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>