<app-header [user]="user"></app-header>


<ion-content color="secondary">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/agregar_empresa" routerDirection="root">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-searchbar (search)="setSearch($event)"></ion-searchbar>
                <!-- <ion-segment (ionChange)="segmentChanged($event)">
                    <ion-segment-button value="authoriced">
                        <ion-label>Autorizados</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="unauthoriced">
                        <ion-label>No autorizados</ion-label>
                    </ion-segment-button>
                </ion-segment> -->

                <ion-row>

                    <ion-col *ngIf="!enterprisesData" size-md="4" size-sm="4" size-xs="12">
                        <ion-item>
                            <ion-avatar slot="start">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <ion-label>
                                <h3>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                </h3>
                                <p>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </p>
                                <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <div *ngIf="enterprisesData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12"
                            *ngFor="let enterprise of enterprises; let i = index;"
                            routerLink="/empresa/{{enterprise.name_url}}" routerDirection="root">
                            <ion-card color="light" no-margin>
                                <ion-list lines="none">
                                    <ion-item lines="none" detail="false" color="{{$i%2 != 0 ? 'tertiary' : 'light'}}">

                                        <ion-thumbnail slot="start" *ngIf="enterprise.image.downloadURL !== unknow">
                                            <img src="{{enterprise.image.downloadURL}}">
                                        </ion-thumbnail>
                                        <ion-thumbnail slot="start" *ngIf="enterprise.image.downloadURL == unknow">
                                            <img src="http://www.alempleo.org/img/imageholder.jpg">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h2>{{enterprise.name}}</h2>
                                            </ion-text>
                                            <p>
                                                {{enterprise.email}}
                                            </p>
                                            <p>
                                                {{enterprise.phone}}
                                            </p>
                                        </ion-label>
                                        <!-- <ion-note color="success">
                                            Plazas activas <br> {{enterprise.plazas_activas}}
                                        </ion-note> -->
                                    </ion-item>
                                </ion-list>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>