<app-header [user]="user"></app-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="2" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <h3>
                    Reportes de plazas
                </h3>
                <ion-row>

                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle text-center>
                                    Plazas Activas
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                <google-chart [data]="plazasData"></google-chart>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle text-center>
                                    Categoria de las plazas abiertas
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                <google-chart [data]="OpenplazasCategories"></google-chart>
                                <ion-button  (click)="plazasDataReport()" expand="block" > Generar CSV
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>


                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle text-center>
                                    Categoria de las plazas cerradas
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                <google-chart [data]="ClosedplazasCategories"></google-chart>
                                <ion-button  (click)="plazasCerradasReport()" expand="block" > Generar CSV
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                </ion-row>

                <h3>
                    Plazas contratadas
                </h3>

                <ion-card>
                    <ion-row>
                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Plaza
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Salario
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Empleado
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            Fecha de contratación
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                    </ion-row>
                </ion-card>

                <ion-card *ngFor="let job of jobs">
                    <ion-row>
                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines"
                                routerLink="/empresa/{{job.enterprise.name_url}}/trabajos/{{job.name_url}}/{{job.key}}"
                                routerDirection="root">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            {{job?.position}}
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            ${{job?.salary}}
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines"
                                (click)="previewApplicant(job?.contratation?.applicant)">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            {{job?.contratation?.applicant?.name}}
                                            {{job?.contratation?.applicant?.lastname}}
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size-md="3" size-sm="3" size-xs="12">
                            <ion-item color="light" lines="no-lines">
                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            {{job?.contratation?.date}}
                                        </h3>
                                    </ion-text>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                    </ion-row>
                </ion-card>


            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>