// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// http://ionicframework.com/docs/theming/

a:hover {
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

ion-item{
    --padding-top:10px;
    --padding-bottom:10px;
}

ion-modal{
    --width: 80% !important;
}

ion-button{
    &:hover{
        opacity: 0.6;
    }
}

.img-preview{
    border:9px solid #ebebeb;
}

.margin_item{
    margin: 10px;
}

.experience-alert{
    --background: var(--ion-color-dark);
    .alert-title{
        color: #fff !important;
    }
    .alert-input{
        border-radius: 12px;
        padding: 12px;
    }
    .alert-wrapper{
        --max-width: 30% !important;
        --width: 30% !important;
    }
}

app-applicant{
    overflow: scroll !important;
}