<app-header [user]="user"></app-header>

<ion-button expand="full" color="danger" *ngIf="enterprise?.status == 'pending_authorization'"
    (click)="activateAccount()">
    La cuenta de {{enterprise?.name}} aun no esta activada, click aqui para activar.
</ion-button>



<ion-content color="secondary">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/actualizar_empresa/{{enterprise?.name_url}}/{{enterprise?.key}}"
            routerDirection="root">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">



                <app-menu [user]="user"></app-menu>
            </ion-col>


            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-row>
                    <ion-col size-md="2" size-sm="2" size-xs="12" offset="1">
                        <img src="{{enterprise?.image?.downloadURL}}" class="img-preview">

                        <ion-button color="danger" expand="block" [color]="light"
                            routerLink="/{{enterprise?.name_url}}/agrega_plaza" routerDirection="root">
                            <ion-ripple-effect></ion-ripple-effect>
                            Agregar Plaza
                        </ion-button>

                        <ion-button color="primary" expand="block" [color]="light" (click)="resetPassword()">
                            <ion-ripple-effect></ion-ripple-effect>
                            Restaurar contraseña
                        </ion-button>
                    </ion-col>

                    <ion-col size-md="9" size-sm="9" size-xs="12">
                        <ion-card no-margin>
                            <ion-card-header>
                                <ion-card-title>
                                    {{enterprise?.name}}
                                </ion-card-title>
                                <p>
                                    <strong>Correo de contacto:</strong> {{enterprise?.email}}
                                </p>
                                <p>
                                    <strong>Telefono de contacto:</strong> {{enterprise?.phone}}
                                </p>
                            </ion-card-header>

                            <!-- <ion-card-content>
                                {{enterprise?.description}}
                            </ion-card-content> -->

                            <ion-card-content>
                                <h1>Sucursales</h1>
                                <ion-list>

                                    <ion-item *ngFor="let branch of enterprise?.branches">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{branch.name}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Direccion: </strong> {{branch.address}}
                                            </p>
                                            <p>
                                                <strong>Numero de telefono: </strong>{{branch.number}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!jobsData">
                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <div *ngIf="jobsData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12" *ngFor="let job of jobs">
                            <ion-card>
                                <ion-item color="light" lines="no-lines">

                                    <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                        <img src="{{enterprise?.image?.downloadURL}}">
                                    </ion-thumbnail>

                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{job.position}}
                                            </h3>
                                            <h3 color="primary">
                                                Por: <a>{{job.enterprise.name}}</a>
                                            </h3>
                                        </ion-text>
                                        <p>
                                            {{job.description}}
                                        </p>
                                        <h2>
                                            {{job.kind_job.name}}
                                        </h2>
                                        <h2>
                                            ${{job.salary}}
                                        </h2>
                                        <ion-button color="primary" expand="block" class="add-btn"
                                            routerLink="trabajos/{{job.name_url}}/{{job.key}}" routerDirection="root">
                                            <ion-ripple-effect></ion-ripple-effect>
                                            Revisar Plaza
                                        </ion-button>
                                    </ion-label>
                                </ion-item>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>