.button-header {
    --border-radius: 0px;

}

.add-btn{
    --color:#fff;
}

ion-skeleton-text {
    --background: transparent;
}

.margin_item{
    margin: 10px;
}

.hired{
    --background: #99C651 !important;
}