<app-header [user]="user"></app-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="2" size-xs="12">
                <app-menu [user]="user"></app-menu>
            </ion-col>

            <ion-col size-md="7" size-sm="7" size-xs="12">
                <ion-row>
                    <ion-col size-md="6" size-sm="6" size-xs="12">
                        <ion-card color="light" no-margin>
                            <ion-list lines="none">
                                <ion-list-header color="success" lines="no-lines">
                                    <ion-label>
                                        Personas pendientes de autorización
                                    </ion-label>
                                </ion-list-header>

                                <div *ngIf="!applicantsData">
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </div>

                                <div *ngIf="applicantsData">
                                    <ion-item lines="none" detail="false"
                                        *ngFor="let applicant of applicants; let i = index;"
                                        color="{{$i%2 != 0 ? 'tertiary' : 'light'}}">

                                        <ion-thumbnail slot="start">
                                            <img src="{{applicant?.image?.downloadURL}}">
                                        </ion-thumbnail>

                                        <ion-label>

                                            <ion-text color="primary">
                                                <h2>{{applicant.name}} {{applicant.lastname}}</h2>
                                            </ion-text>
                                            <p>
                                                {{applicant.education}}
                                            </p>
                                        </ion-label>

                                        <ion-button fill="outline" slot="end"
                                            routerLink="/persona/{{applicant.name_url}}/{{applicant.key}}"
                                            routerDirection="root">
                                            Revisar
                                        </ion-button>

                                    </ion-item>
                                </div>
                            </ion-list>
                        </ion-card>
                    </ion-col>

                    <ion-col size-md="6" size-sm="6" size-xs="12">
                        <ion-card no-margin>
                            <ion-list lines="none" detail="false">
                                <ion-list-header color="primary" lines="no-lines">
                                    <ion-label>
                                        Empresas pendientes de autorización
                                    </ion-label>
                                </ion-list-header>

                                <div *ngIf="!enterprisesData">
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </div>

                                <div *ngIf="enterprisesData">
                                    <ion-item lines="no-lines" detail="false"
                                        *ngFor="let enterprise of enterprises; let i = index;"
                                        color="{{$i%2 != 0 ? 'light' : 'tertiary'}}">
                                        <ion-thumbnail slot="start">
                                            <img src="{{enterprise?.image?.downloadURL}}">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h2>{{enterprise.name}}</h2>
                                            </ion-text>
                                            <p>
                                                {{enterprise.phone}}
                                            </p>
                                        </ion-label>

                                        <ion-button fill="outline" slot="end"
                                            routerLink="/empresa/{{enterprise.name_url}}" routerDirection="root">
                                            Revisar
                                        </ion-button>
                                    </ion-item>
                                </div>

                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card color="medium" padding>

                            <ion-card-header>
                                <ion-card-subtitle>
                                    Seguimiento de plazas activas
                                </ion-card-subtitle>
                            </ion-card-header>


                            <ion-card-content no-padding *ngFor="let job of jobs_following">

                                <ion-card color="light" no-margin style="margin-bottom:10px;">

                                    <ion-list>
                                        <ion-item lines="none">
                                            <ion-label>
                                                <h2>{{job.position}}</h2>
                                                <p>
                                                    <a routerLink="/empresa/{{job.enterprise?.name}}"
                                                        routerDirection="root">
                                                        {{job.enterprise?.name}}
                                                    </a>
                                                </p>
                                            </ion-label>

                                            <ion-button fill="clear" color="dark" slot="end"
                                                routerLink="/empresa/{{job.enterprise?.name}}/trabajos/{{job.position}}/{{job.key}}"
                                                routerDirection="root">
                                                Revisar Plaza
                                            </ion-button>

                                        </ion-item>
                                    </ion-list>


                                    <ion-row no-padding>
                                        <ion-col size-md="4" *ngFor="let applicant of job.applicants">
                                            <ion-item lines="none" detail="false"
                                                class="{{applicant.status_application}}"
                                                routerLink="/persona/{{applicant.name}}/{{applicant.applicant_key}}"
                                                routerDirection="root">
                                                <ion-thumbnail slot="start">
                                                    <img src="{{applicant?.image?.downloadURL}}">
                                                </ion-thumbnail>

                                                <ion-label>
                                                    <ion-text color="primary">
                                                        <h2>{{applicant.name}} {{applicant.lastname}}</h2>
                                                    </ion-text>
                                                    <p *ngIf="applicant.birthdate">
                                                        {{applicant.birthdate}} años
                                                    </p>
                                                </ion-label>
                                            </ion-item>
                                        </ion-col>

                                    </ion-row>
                                </ion-card>


                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size-md="3" size-sm="3" size-xs="12">

                <ion-card color="light" no-margin>
                    <ion-list lines="none">
                        <ion-item color="light" lines="none">
                            <ion-label>
                                Ultimas Plazas publicadas
                            </ion-label>

                            <!-- <ion-button fill="outline" color="light" slot="end" routerLink="/plazas" routerDirection="root">
                                Ver todas
                            </ion-button> -->

                        </ion-item>

                        <div *ngIf="!jobsData">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </div>

                        <div *ngIf="jobsData">
                            <ion-item color="light" lines="no-lines" *ngFor="let job of jobs" class="margin_item">

                                <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                    <img src="{{job?.enterprise?.image?.downloadURL}}">
                                </ion-thumbnail>

                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            {{job.position}}
                                        </h3>
                                        <h3 color="primary">
                                            Por: <a routerLink="/empresa/{{job?.enterprise?.name}}"
                                                routerDirection="root">{{job.enterprise.name}}</a>
                                        </h3>
                                    </ion-text>
                                    <p>
                                        {{job.description}}
                                    </p>
                                    <h1>
                                        {{job.kind_job.name}}
                                    </h1>
                                    <h1>
                                        ${{job.salary}}
                                    </h1>
                                    <ion-button color="primary" expand="block" class="add-btn"
                                        routerLink="/empresa/{{job.enterprise.name}}/trabajos/{{job.position}}/{{job.key}}"
                                        routerDirection="root">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Revisar Plazas
                                    </ion-button>
                                </ion-label>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>