<ion-card color="dark" no-margin>

    <ion-card-header color="medium" text-center>
        <span color="light" style="color:#fff">
            ¡Bienvenido <strong> {{user?.name}}</strong>!
        </span>
    </ion-card-header>

    <ion-card-content>

        <ion-list lines="none" no-padding>
            <ion-list-header color="medium">
                <ion-label>
                    Menu
                </ion-label>
            </ion-list-header>

            <ion-item color="dark" no-padding routerLink="/dashboard" routerDirection="root">
                Dashboard
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/usuarios" routerDirection="root" *ngIf="rol == 'admin'">
                <ion-label>
                    Usuarios y Permisos
                </ion-label>
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/empresas" routerDirection="root">
                <ion-label>
                    Empresas
                </ion-label>
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/personas" routerDirection="root">
                <ion-label>
                    Personas
                </ion-label>
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/plazas" routerDirection="root">
                <ion-label>
                    Plazas
                </ion-label>
            </ion-item>
            <ion-item color="dark" no-padding routerLink="/programas" routerDirection="root">
                <ion-label>
                    Programas
                </ion-label>
            </ion-item>
            <ion-item color="dark" no-padding routerLink="/reportes" routerDirection="root" *ngIf="rol == 'admin'">
                <ion-label>
                    Reportes
                </ion-label>
            </ion-item>


        </ion-list>
        <br>

        <!-- <ion-list>
            <ion-list-header color="medium">
                <ion-label>
                    Opciones Alempleo
                </ion-label>
            </ion-list-header>

            <ion-item color="dark" no-padding>
                Configuración
            </ion-item>
            <ion-item color="dark" no-padding>
                Mi perfil
            </ion-item>

        </ion-list> -->

        <div padding>
            <ion-row>
                <ion-col size-md="3" size-sm="12" size-xs="12">
                </ion-col>
                <ion-col size-md="6" size-sm="12" size-xs="12">
                    <img src="./assets/imgs/logo-full.png" alt="">
                </ion-col>
            </ion-row>
        </div>

    </ion-card-content>
</ion-card>