<ion-list text-right>
	<!-- <ion-item text-right>
		<ion-label>Mi Perfil</ion-label>
	</ion-item>
	<ion-item text-right>
		<ion-label>Mis intereses</ion-label>
	</ion-item> -->
	<ion-item text-right (click)="logout()">
		<ion-label>Cerrar Sesión
		</ion-label>
	</ion-item>
</ion-list>